* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.layer {
    margin-left: 200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.home {
    background-color: blue;
}

.home_text {
    color: red;
    max-width: 500px;
    margin: 0 auto;
}

.about {
    background-color: aqua;
}

.about_text {
    color: green;
    max-width: 500px;
    margin: 0 auto;
}

.projects {
    background-color: yellow;
}

.projects_text {
    color: black;
    max-width: 500px;
    margin: 0 auto;
}

.contact {
    background-color: violet;
}

.contact_text {
    color: white;
    max-width: 500px;
    margin: 0 auto;
}

.scroll_bar_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
    padding: 20px;
    background-color: black;
    width: 200px;
    height: 100%;
    text-align: left;
    position: fixed;
    border-right: white 1px solid;
}

.nav_link {
    color: yellow;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
}