* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
}

.layer {
    margin-left: 200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home_text {
    color: red;
    max-width: 500px;
    margin: 0 auto;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.pfp_section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
}

.pfp {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.about_layer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    padding: 20px;
    background-color: black;
    width: 1500px;
    height: 100%;
    text-align: left;
    border-right: white 1px solid;
}

.about_layer_text {
    color: green;
    max-width: 500px;
    text-align: left;
    margin: 0 auto;
}

.projects {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects_container_1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-left: white 1px solid;
    border-bottom: white 1px solid;
}

.projects_container_2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-left: white 1px solid;
    border-bottom: white 1px solid;
}

.projects_text {
    color: red;
    max-width: 500px;
    margin: 0 auto;
}

.contact {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact_text {
    color: red;
    max-width: 500px;
    margin: 0 auto;
}

.scroll_bar_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
    padding: 20px;
    background-color: black;
    width: 200px;
    height: 100%;
    text-align: left;
    position: fixed;
    border-right: white 1px solid;
}

.nav_link {
    color: yellow;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
}